<!DOCTYPE html>
<html>
<body>
<form method="post" id = "form">
  {% csrf_token %}
  {{ form }}
  <button type="submit" form="form" value="Submit" onclick="func()" >Submit</button>
  <p id="t1"></p>
  <script>
      function func(){
        document.getElementById('t1').innerHTML="Thankyou for using our service...<br>The subtitle files will also be mailed to you";
        alert("The subtitle files are being prepared");
        //document.getElementById("t1").innerHTML="yo";
      }
  </script>
</form>

</body>
</html>
