alabaster==0.7.10
-e git+https://github.com/jonluca/Anubis.git@69799a03b5fda09c2bf34f231530b07d46574c68#egg=anubis_netsec
appdirs==1.4.3
APScheduler==3.5.0
apturl==0.5.2
args==0.1.0
asn1crypto==0.23.0
astroid==1.5.3
attrs==17.3.0
audioread==2.1.5
autocorrect==0.3.0
Automat==0.6.0
awscli==1.14.16
Babel==2.4.0
backports.weakref==1.0rc1
bcolz==1.1.2
bcrypt==3.1.4
beautifulsoup4==4.6.0
bleach==1.5.0
blinker==1.3
bokeh==0.12.13
boto==2.48.0
boto3==1.5.7
botocore==1.8.21
Brlapi==0.6.4
bz2file==0.98
capstone==3.0.4
censys==0.0.8
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
checkbox-support==0.22
chrome-gnome-shell==0.0.0
click==6.7
click-plugins==1.0.3
cliff==2.8.0
clint==0.5.1
clize==4.0.2
cloudpickle==0.5.2
cmd2==0.7.8
colorama==0.3.7
command-not-found==0.3
ConfigArgParse==0.12.0
configparser==3.5.0
constantly==15.1.0
cryptography==1.9
cssselect==1.0.3
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
decorator==4.1.2
defer==1.0.6
dill==0.2.7.1
Django==1.11.3
dnspython==1.15.0
docopt==0.6.2
docutils==0.13.1
emoji==0.4.5
entrypoints==0.2.3
enum34==1.1.6
eth-abi==0.5.0
eth-keyfile==0.4.0
eth-keys==0.1.0b3
eth-tester==0.1.0b5
eth-utils==0.7.1
ez-setup==0.9
fakeredis==0.9.0
fastai==0.6
feather-format==0.4.0
feedparser==5.1.3
floyd-cli==0.10.28
ftfy==4.4.3
future==0.16.0
gensim==3.1.0
gevent==1.2.2
gitdb2==2.0.3
GitPython==2.1.7
graphviz==0.8.1
greenlet==0.4.12
guacamole==0.9.2
h5py==2.7.1
html5lib==0.9999999
httplib2==0.9.1
hyperlink==17.3.1
idna==2.6
imageio==2.1.2
imagesize==0.7.1
IMDbPY==6.3.dev20171219
imutils==0.4.4
incremental==17.5.0
intervaltree==2.1.0
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
isort==4.2.15
isoweek==1.3.3
jedi==0.10.2
Jinja2==2.8
jmespath==0.9.3
joblib==0.11
jsonpickle==0.9.5
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.3.3
jupyter-core==4.3.0
jupyter-highlight-selected-word==0.1.0
jupyter-latex-envs==1.4.1
jupyter-nbextensions-configurator==0.2.8
kaggle-cli==0.12.13
Keras==2.0.8
klein==17.10.0
langdetect==1.0.7
language-selector==0.1
lazy-object-proxy==1.3.1
librosa==0.5.1
llvmlite==0.21.0
louis==2.6.4
lxml==4.1.1
Mako==1.0.3
Markdown==2.6.10
MarkupSafe==0.23
marshmallow==2.15.0
matplotlib==2.0.2
mccabe==0.6.1
MechanicalSoup==0.8.0
mistune==0.7.4
mizani==0.4.4
more-itertools==3.2.0
moviepy==0.2.2.13
msgpack-numpy==0.4.1
msgpack-python==0.4.8
murmurhash==0.28.0
nassl==1.0.1
nbconvert==5.2.1
nbformat==4.3.0
nbsphinx==0.2.18
netaddr==0.7.19
networkx==2.0
nltk==3.2.4
notebook==5.0.0
num2words==0.5.6
numba==0.36.1
numexpr==2.4.3
numpy==1.13.3
numpydoc==0.6.0
oauthlib==1.0.3
od==1.0
olefile==0.44
onboard==1.2.0
opencv-python==3.3.0.10
packaging==16.8
padme==1.1.1
palettable==3.1.0
pandas==0.17.1
pandas-summary==0.0.41
pandoc==1.0.2
pandocfilters==1.4.1
paramiko==2.4.0
pathlib==1.0.1
pathlib2==2.3.0
patsy==0.4.1
pbr==3.1.1
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.7.4
Pillow==3.1.2
pipreqs==0.4.9
plac==0.9.6
plainbox==0.25
plotnine==0.3.0
pluggy==0.6.0
ply==3.10
pomodoro==0.1
praw==5.2.0
prawcore==0.12.0
preshed==1.0.0
prettytable==0.7.2
progressbar2==3.34.3
prompt-toolkit==1.0.14
protobuf==3.5.1
psutil==5.2.2
ptyprocess==0.5
PuLP==1.6.8
py==1.5.2
py4j==0.10.4
pyarrow==0.8.0
pyasn1==0.1.9
pycparser==2.18
pycryptodome==3.4.7
pycups==1.9.73
pycurl==7.43.0
pydub==0.20.0
pyelftools==0.24
pyflakes==1.5.0
Pygments==2.2.0
pygobject==3.20.0
PyJWT==1.3.0
pykwalify==1.6.0
pylint==1.7.1
pylru==1.0.9
pymessenger==0.0.7.0
pymongo==3.5.1
PyNaCl==1.2.1
pypandoc==1.4
pyparsing==2.2.0
pyperclip==1.5.11
PyQt5==5.9.2
pyserial==3.4
pysha3==1.0.2
PySocks==1.6.7
pyspark==2.2.0
python-apt==1.1.0b1
python-dateutil==2.6.0
python-debian==0.1.27
python-nmap==0.6.1
python-systemd==231
python-utils==2.2.0
pytz==2017.3
PyWavelets==0.5.2
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
QtAwesome==0.4.4
qtconsole==4.3.0
QtPy==1.2.1
rasa-core==0.7.9
rasa-nlu==0.10.5
raven==6.4.0
redis==2.10.6
regex==2017.4.5
reportlab==3.3.0
requests==2.18.4
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
resampy==0.2.0
rlp==0.6.0
roman==2.0.0
rope-py3k==0.9.4.post1
ROPGadget==5.4
rsa==3.4.2
s3transfer==0.1.12
sagemaker-pyspark==1.0.0
scikit-image==0.13.1
scikit-learn==0.18.1
scikits.audiolab==0.11.0
scipy==1.0.0
screen-resolution-extra==0.0.0
seaborn==0.8.1
selenium==3.7.0
semantic-version==2.6.0
sessioninstaller==0.0.0
shodan==1.7.7
sigtools==2.0.1
simplegeneric==0.8.1
simplejson==3.13.2
sip==4.19.6
six==1.11.0
sklearn==0.0
sklearn-pandas==1.6.0
smart-open==1.5.3
smmap2==2.0.3
snowballstemmer==1.2.1
sortedcontainers==1.5.9
spacy==2.0.5
Sphinx==1.6.2
sphinx-rtd-theme==0.1.9
sphinxcontrib-websupport==1.0.1
splinter==0.7.7
spyder==3.1.4
SQLAlchemy==1.1.15
sqlalchemy-migrate==0.11.0
sqlparse==0.2.4
ssh-import-id==5.5
SSLyze==1.2.0
statsmodels==0.8.0
stevedore==1.28.0
system-service==0.3
tables==3.2.2
tabulate==0.8.2
Tempita==0.5.2
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc3
tensorflow-utils==0.1.0
termcolor==1.1.0
terminado==0.6
testfixtures==5.2.0
testpath==0.3.1
textblob==0.15.0
tflearn==0.3.2
tfutils==0.1.dev1
thinc==6.10.2
tls-parser==1.1.1
toolz==0.8.2
torch==0.2.0.post3
torchtext==0.2.1
tornado==4.5.1
tox==2.9.1
tqdm==4.11.2
traitlets==4.3.2
tweepy==3.5.0
twilio==5.7.0
Twisted==17.9.0
typing==3.6.2
tzlocal==1.5.1
ubuntu-drivers-common==0.0.0
ufw==0.35
ujson==1.35
unattended-upgrades==0.1
unicorn==1.0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-gdrive==0.7
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
unity-tweak-tool==0.0.7
update-checker==0.16
urllib3==1.22
usb-creator==0.3.0
vecstack==0.1
virtualenv==15.0.1
wakatime==8.0.3
wcwidth==0.1.7
web3==3.16.4
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==2.0.0
wordcloud==1.3.1
wrapt==1.10.10
xdiagnose==3.8.4.1
xgboost==0.6a2
xkit==0.0.0
XlsxWriter==0.7.3
yarg==0.1.9
youtube-dl==2017.12.31
zmq==0.0.0
zope.interface==4.4.3
